<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.MyDiaryApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MyDiaryApp</name>
    <description>
        A Apache Cordova application to log daily activities and share the data for research purposes.
    </description>
    <author email="sr717@cam.ac.uk" href="http://srivi.in">
        Cambridge University
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
