<ion-nav-bar></ion-nav-bar>


<ion-view view-title="My Diary" ng-init="init()">
  <ion-nav-title>
        <img src="images/logo.png" style="width: 110px;margin-top: 5px;">
  </ion-nav-title>
  <ion-content>
    <script src="scripts/diaryEvents.js"></script>
    <script src="scripts/diaryEventsInit.js"></script>

    <ion-list id="homeView" class="custom-list-home">

      <!-- <flex-calendar options="options" events="events" ></flex-calendar> -->
      <div class="text-center " id="getStartedMsg"><h3>Tap (+) button to add a new activity :)</h3> </div>
      <ion-item ng-repeat="activity in listActivities" class="activityListContainer" ng-class="{'divider': activity.isHeader}">
        <div class="dateHeader">
          <div class="dateHeaderDay">{{activity.day}}</div>
          <div class="dateHeaderMonth">{{activity.month}}</div>
          <div class="dateHeaderYear">{{activity.year}}</div>
        </div>

        <div class="row" ng-click="viewActivity(activity._id)">
          <div class="col timePeriod">
            <span>{{activity.startTime | limitTo:-8 | limitTo:8  }}</span>
            <i class="icon ion-ios-arrow-thin-right"></i>
            <span>{{activity.endTime | limitTo:-8 | limitTo:8  }}</span>
          </div>
          <div class="col activityDetails">
          <i class="icon {{activity.activityLabel.icon}}"></i>
          <span>{{activity.activityLabel.title}}<span></div>
        </div>
      </ion-item>
    </ion-list>

        <script id="calendar-modal.html" type="text/ng-template">
          <ion-modal-view>
            <ion-header-bar>
              <h1 class="title"></h1>
              <div class="button button-clear" ng-click="closeModal()"><span class="icon ion-close"></span></div>
            </ion-header-bar>
            <ion-content>
              <flex-calendar options="options" events="events" ></flex-calendar>
              <div class="text-center col"><a class="button button-light" ng-click="createNewActivity('today')" >
                Today
              </a></div>
            </ion-content>
          </ion-modal-view>
        </script>

    </ion-content>



    <!-- <div><a id="addNew"  ng-click="openModal()" class="viewCalendar"><span class="icon ion-android-calendar"></span></a></div> -->

    <!-- <div><a id="addNew" href="#/app/activities" class="newHome"><span class="icon ion-plus-round"></span></a></div> -->
    <div><a id="addNew" ng-click="openModal()"  class="newHome"><span class="icon ion-plus-round"></span></a></div>


    <!-- <div id="diaryEvents" class="_diaryEvents"></div> -->

</ion-view>
