<ion-header-bar>
  <h1 class="title">Sign Up</h1>
</ion-header-bar>
<ion-content>

  <form ua-signup ng-show="!verificationEmailSent">
    <div class="list">

      <label class="item item-input">
        <span class="input-label">Your name</span>
        <input name="first_name" type="text" placeholder="Your name">
        <br>
      </label>

      <label class="item item-input">
        <span class="input-label">Email</span>
        <input name="login" type="text" ua-is-email placeholder="Email">
        <br>
      </label>

      <label class="item item-input">
        <span class="input-label">Password</span>
        <input name="password" placeholder="Password" type="password">
        <br>
      </label>


        <label class="item">
          <button class="button button-block button-positive" type="submit">Create account</button>
        </label>

        <p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif">
        </p>
        <p ng-show="error">{{ error.message }}</p>
    </div>
  </form>

  <p ng-show="verificationEmailSent">An email has been sent to your inbox. Click on the link to verify your account.</p>
  <p><a href="#/login">Log in</a>
  </p>


</ion-content>
