
<ion-content class="has-header padding  login-signup-page">
  <br><br>
  <h1 class="title text-center" style="color:#fff">MyDiary!</h1>
  <br><br>
  <div class="list login-signup-form">
    <label class="item item-input">
      <span class="input-label">Name</span>
      <input type="text" ng-model="user.name">
    </label>
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="text" ng-model="user.email">
    </label>
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password" ng-model="user.password">
    </label>
    <label class="item">
      <button class="button button-block button-positive" ng-click="createUser()">
        Sign Up
      </button>
    </label>
  </div>
</ion-content>
