
<ion-content class="has-header padding  login-signup-page">
  <br>
  <h1 class="title text-center" style="color:#fff">
    <img src="images/logo.png" style=" width:200px;margin-top: 5px;">
  </h1>
  <form class="list login-signup-form" ng-submit="createUser()">
    <label class="item item-input">
      <span class="input-label">Name</span>
      <input type="text" ng-model="user.name">
    </label>
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="email" ng-model="user.email">
    </label>
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password" ng-model="user.password">
    </label>
    <label class="item">
      <button class="button button-block button-positive" type="submit" >
        Sign Up
      </button>
    </label>
  </form>
</ion-content>
