<ion-view view-title="{{activity.activityLabel.title}}" data-tap-disabled="true">
  <ion-content>

    <div id="diaryEvents" class="actPageStyle">
      <div id="lceditem" class="20150221" style="-webkit-user-select: none; display: inline-block; float: left;">
        <div id="lcedcapt" class="nowdate weekend" style="-webkit-user-select: none;">{{activity.todayMonth}}</div>
        <div id="lcedbody" class="nowdate weekend" style="position: relative; -webkit-user-select: none;">
          <div style="position: relative; bottom: 0px; top: 0px; left: 0px; right: 0px; display: table; height: 100%; width: 100%;">
            <span id="lcedval" style="display:table-cell; vertical-align:middle;">{{activity.todayDay}}</span>
          </div>
        </div>
      </div>
    </div>
    <!--dirty spacing stuff beings-->
    </br>
    </br>

    <!--dirty spacing stuff ends-->
    <div class="list">
      <div id="time-range">
        <div class="sliders_step1">
          <div id="slider-range"></div>
        </div>
      </div>
      <script src="scripts/timeSlider.js"></script>

    </div>
  </ion-content>
</ion-view>
