<ion-view view-title="{{activity.activityLabel.title}}" data-tap-disabled="true">
  <ion-content>

    <div id="diaryEvents" class="actPageStyle">
<div class="monthText">{{activity.today.month}}</div>
<div class="yearNumber">{{activity.today.year}}</div>

<div class="dayNumber">{{activity.today.day}}</div>
    </div>
    <!--dirty spacing stuff beings-->
    </br>
    </br>
    <!--dirty spacing stuff ends-->

    <script>
    $(document).ready(function(){
      timeSlider(1440,840);
    })
    </script>
    <div class="list actPageCustomList">
      <div id="time-range">
        <div class="sliders_step1">
          <div id="slider-range"></div>
        </div>
      </div>

    </div>
    <div class="actButtonPos">
      <button id="buttonTick" ng-click="createNew()">
        <span class="fa fa-check"></span>
      </button>
    </div>

  </ion-content>
  <div id="time-range-bottom"></div>

</ion-view>
